[Unit]
Description=PWM Setup Service
After=local-fs.target
DefaultDependencies=no

[Service]
Type=oneshot
ExecStart=/usr/local/bin/pwm-setup.sh
RemainAfterExit=yes
StandardOutput=journal

[Install]
WantedBy=multi-user.target
